*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.header{
    width: 98%;
    height: 200px;
    float: left;
    margin: 0 auto;
    position: relative;
    background-color: blueviolet;
    
 }

.header .logo {
    margin-left: 20px;
    position:relative;
    top:16px;
    
}
.header .logo .class1{
    width: 350px;
    height: 30px;
    border-radius: 14px;
    position:relative;
    left: 24%;
    background-color: whitesmoke;
}
.header .logo .class2{
    width: 90px;
    height: 30px;
    border-radius: 14px;
    position: relative;
    left: 16.3%;
    background-color: #1479d7;
    
}
.header .logo .class3{
    position: relative;
    left: 50%;
}
.bodyer{
    width: 98%;
    height: 300px;
    background-color: chartreuse;
}
.foot{
    width: 98%;
    height: 100px;
    background-color: coral;
}
.foot.footlog{
    margin: 0 auto;
    
}
.foot.foot1{
    text-align: center;
    
}